<header>
		<!--nav bar-->
		<nav class="navbar navbar-fixed-top">  
			<div class="navbar-inner">  
				<div class="container">  
					<ul class="nav">  
						<li class="active">  
							<a class="brand" href="/<%=ProjectTitle%>"><%=ProjectTitle%></a>  
						</li>  
						<li style="margin-left:250px">
							<a href="/<%=ProjectTitle%>/<%=Category1.toLowerCase()%>"><%=Category1%></a>
						</li>  
						<li>
							<a href="/<%=ProjectTitle%>/<%=Category2.toLowerCase()%>"><%=Category2%></a>
						</li>
						<li style="margin-left: 50px; cursor: pointer" id="cart">
							<ul class="nav nav-pills nav-stacked">
								<li class="active">
									<a data-toggle="popover" data-content=" " title="Products" class="shopping-cart">
										<span class="badge pull-right" id="nrProds">0</span>
										<img src="/images/shopping-cart.png" width="30px" height="30px" style="display: inline-block; margin-top: -5px;">
									</a>
								</li>
  							</ul>
						</li>
						<!-- if the user is logged in only log out , My orders and wishlist buttons will appear in navigation bar -->
						<% if(isLogged) {%>
						<li style="cursor: pointer" id="wishlist">
							<ul class="nav nav-pills nav-stacked">
								<li class="active">
									<a data-toggle="popover" data-content=" " title="Wishlist Products" class="wishlist">
										<img src="/images/gift.png" width="30px" height="30px" style="display: inline-block; margin-top: -5px;">
										<span>Wishlist</span>
									</a>
								</li>
  							</ul>
						</li>
						<li><a id="orderHistory">My orders</a></li>
						<li><a id="logout">Logout</a></li>
						<%} else {%> <!-- it the user is not logged in only Login and Sign Up buttons will appear -->
						<li><a id="login">Login</a></li>
						<li><a id="signup">Sign Up</a></li>
						<%}%>
					</ul>
				</div>
			</div>
		</nav>
		
		</div>
</header>