<script src="/jquery/jquery-1.11.1.min.js"></script>
<script src="/jquery/jquery.formatter.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/bootstrap/js/bootstrap-popover.js"></script>
<script src="/bootstrap/js/bootstrap-tooltip.js"></script>
<script>
	var cartHasChanged=false; //used to show if shopping cart content has changed or not
	$('#ccNo').formatter({
	'pattern': '{{9999}}-{{9999}}-{{9999}}-{{9999}}',
	'persistent': true
	});
	/*on login click show log in modal*/
	$('#login').on('click',function(){
		$("#LoginModal").modal('show');
	});
	/*on sign up click show Sign Up modal*/
	$('#signup').on('click',function(){
		$("#SignInModal").modal('show');
	});
	/*when log out is clicked a request to /logout is sent and the session is deleted;
	if the session is deleted a response is sent back and the user is redirected to Home page*/
	$('#logout').on('click',function(){
		$.post("/logout",function(response){
			if(response.deleted=="deleted")
			{
				$("#LogOutModal").modal('show');
				$('#LogOutModal').on('hidden.bs.modal', function () {
					window.location="/shop";
				});
			}
		});
	});
	
	/*show order history
	get info from db collecion wishlist and build tables for each entry in wishlist with the user equal to the current user
	diplay tables in orderHistoryModal*/
	$("#orderHistory").on('click',function(){
		$.post("/orderHistory",function(response){
			var orders=response.history;
			if(orders.length>0)
			{
				for(var prod in orders)
				{
					var $panel=$('<div/>',{ class:"panel panel-default"});
					var $panelHeading=$('<div/>',{class:"panel-heading"}).html("Order date: "+orders[prod].date);
					var $table=$('<table/>',{class:"table"});
					var $thead=$('<thead/>');
					var $trProd=$('<th/>').html("Product");
					var $trPrice=$('<th/>').html("Price");
					var $trQuantity=$('<th/>').html("Quantity");
					$thead.append($trProd);
					$thead.append($trPrice);
					$thead.append($trQuantity);
					var $tbody=$('<tbody/>');
					for (var ord in orders[prod].order)
					{
						var $tr=$('<tr/>');
						var $prod=$('<td/>').html(ord);
						$tr.append($prod);
						var price=$('<td/>').html(orders[prod].order[ord].price);
						$tr.append(price);
						var quantity=$('<td/>').html(orders[prod].order[ord].quantity);
						$tr.append(quantity);
						$tbody.append($tr);
					
					}
					$table.append($thead);
					$table.append($tbody);
					$panel.append($panelHeading);
					$panel.append($table);
					$("#historyBody").append($panel);

				}
			}
			else
			{
				$noOrders=$('<div/>').html("No orders yet");
				$("#historyBody").append($noOrders);
			}
			$("#orderHistoryModal").modal('show');
		
		});
	
	
	
	});
	/* when "Forgot your password?" is clicked a modal for password reset is displayed*/
	$('#resetPassword').on('click',function(){
		$("#LoginModal").modal('hide');
		$('#ForgotPasswordModal').modal('show');
	});
	/*replaces non alphanumeric characters with _*/
	function sanitizeId(value){
		return value.replace(/\W+/g, "_");
	}
	$(function(){
	 /*function which updates the shopping cart according to localStorage*/
	 
		function updateCart(){
			/* update chopping cart only if the content of localStorage has changed */
			if(cartHasChanged==true)
			{
				cartHasChanged=false;
				var cartStr=localStorage["cart"];
				var cart={};
				if(cartStr)
					cart=JSON.parse(cartStr);
				var nrProds=0;
				/* calculates the number of products added in cart*/
				for(var key in cart)
				{
					nrProds+=cart[key]["quantity"];
				}
				/*display the number of products*/
				$("#nrProds").html(nrProds);
				/*obtain localStorage content*/
				if(localStorage["cart"])
				{
					var cart2=JSON.parse(localStorage["cart"]);
					if(jQuery.isEmptyObject(cart2)==false)
					{
						var $ul = $('<ul/>',{id: "cartContent"});
						var currency=$('#currencySelector').val();
						var total=0;
						/*iterate over the cart and create an ul where each li is contains number of items and name of the product*/
						for( var key in cart2)
						{
							var $li = $('<li/>',{
								id: sanitizeId(key),
							}).html(key);
							var $quantitySpan = $('<span/>',{
								class: 'quantity'
							}).html(cart2[key]["quantity"]);
							var $priceSpan= $('<span/>',{
								class: 'price'
							}).html(cart2[key]["price"]+" USD");
							var $removeSpan=$('<span/>',{
								class:'remove'
							}).html('x');
							total+=((cart2[key]["price"])*1)*((cart2[key]["quantity"])*1);
							$li.prepend($quantitySpan);
							$li.append($priceSpan);
							$li.append($removeSpan);
							$ul.append($li);
						}
						var $total=$('<li/>',{id:'totalVal'}).html("Total Value: "+total.toFixed(2)+" "+"USD");
						$ul.append($total);
						var shipping=$('<div/>').html("Shipping Method");
						var form=$('<form/>',{id:"shipping"});
						form.append('<input type="radio" name="shipping" style="margin-left:5px" value="express"/>Express Courier');
						form.append('<input type="radio" name="shipping" style="margin-left:5px" value="urgent"/>Urgent Courier');
						shipping.append(form);
						var placeOrderButton=$('<button/>',{id: "placeOrder", class:"btn btn-info"}).html("Place Order");
						$ul.append(shipping);
						$ul.append(placeOrderButton);
						$(".shopping-cart").attr('data-content',$ul[0].outerHTML);
					}
				}
			}
		}
		cartHasChanged=true;
		updateCart();
		/* call updateCart function at a certain interval of time in order to maintain the cart content updated*/
		setInterval(updateCart,100)});
</script>
<script type="text/javascript">
$(document).ready(function(){
	/*shopping-cart popover*/
	$(".shopping-cart").popover({
		placement: 'bottom',
		trigger:'click'
	});
	/*wishlist popover*/
	$(".wishlist").popover({
		placement: 'bottom',
		trigger:'click'
	});
	/*retrieve information from db by sending a request to /wishlist and if the response contains a wishlist, set wishlist content according to the object received as response*/
	$(".wishlist").on("mouseover", function(){
		$.get("/wishlist",function(response){
			var products=response.wishlist[0].products;
			if(products.length>0)
			{
				var $ul=$("<ul/>",{id:"wishlist_content"});
				var i;
				for (i in products)
				{
					var $li=$("<li/>",{id: sanitizeId(products[i].name)});
					var prodName=$("<span/>",{id:"prodName"}).html(products[i].name);
					var addToCart=$("<span/>",{id: "addWishToCart"}).html("+");
					var priceSpan=$("<span/>",{class: "price"}).html(products[i].price);
					var currencySpan=$("<span/>",{class:"price"}).html("USD");
					var removeWish=$("<span/>",{id:"removeWish"}).html("x");
					$li.prepend(addToCart);
					$li.append(prodName);
					$li.append(priceSpan);
					$li.append(currencySpan);
					$li.append(removeWish);
					$ul.append($li);		
				}
				$(".wishlist").attr("data-content",$ul[0].outerHTML);
			}
			else
			{
				$(".wishlist").attr("data-content",' ');
			
			}
		});
	});
	/* + button in wishlist adds product to cart and removes product from wishlist*/
	$('.active').on('click',"#addWishToCart",function(){
		var parent=$(this).parent();
		var prodName=$(parent).find("#prodName").html();
		var prodPrice=$(parent).find('.price').html();
		/* request /removeFromWishlist in order to delete product from wishlist in db */
		$.get("/removeFromWishlist",{name: prodName},function(res){
			/*remove element from the wishlist content*/
			$(parent).remove();
		});
		var cartStr=localStorage["cart"];
		var cart={};
		if(cartStr)
			cart=JSON.parse(cartStr);
		if(cart[prodName]==null)
		{
			cart[prodName]={price:prodPrice, quantity:1};
		}
		else
			cart[prodName]["quantity"]+=1;
		$('#'+sanitizeId(prodName)).find('.quantity').html(cart[prodName]["quantity"]);

		localStorage["cart"]=JSON.stringify(cart);
		/* a product was added to cart so the shopping-cart content has changed*/
		cartHasChanged=true;

	});
	/* x in wishlist remove product from wishlist*/
	$(".active").on('click','#removeWish',function(){
		var parent=$(this).parent();
		var prodName=$(parent).find("#prodName").html();
		/* request /removeFromWishlist in order to delete product from wishlist in db */
		$.get("/removeFromWishlist",{name: prodName},function(res){
		/*remove element from the wishlist content*/
			$(parent).remove();
		});
	});
	/* when x in shopping cart is clicked localStorage is obtained and the object with the id equal to x button id is removed, then the content of localStorage is restored*/
	$(".active").on('click','.remove',function(){
		cartHasChanged=true; //a product was removed from shopping cart so the shopping cart content has changed
		var prodID=$(this).parent().attr('id');
		$(this).parent().remove();
		var cartStr=localStorage["cart"];
		var cart={};
		if(cartStr)
		{
			cart=JSON.parse(cartStr);
			for(var key in cart)
			{
				if(sanitizeId(key)==prodID)
					{
					delete cart[key];
					}
			}
			localStorage['cart']=JSON.stringify(cart);
			$(".shopping-cart").attr('data-content',' ');
			
		}
		
	});
	/* when place order is clicked a request to /orders is sent; depending on the response received different modals will appear; if the response specifies that the user is not logged in then the login modal will appear, if the user is logged in the order is placed,localStorage became empty, an email is send to the customer and information about the order is shown in orderInfo modal*/
	$(".active").on('click','#placeOrder',function(){
		var cartStr=localStorage["cart"];
		var cart={};
		if(cartStr)
		{
			cart=JSON.parse(cartStr);
			var total=$('#totalVal').html();
			var shipping=$('input[name=shipping]:checked').val();
			/*send request to /orders , send order object and total value of the cart*/
			$.get("/orders",{
				order: cart, 
				total: total,
				shipping: shipping
			},function(response){
				/*check the response.status and act according to it*/
				if(response.status=="connected")
				{
					/*empty localStorage["cart"] and show orderInfo modal*/
					localStorage['cart']='{}';
					$(".shopping-cart").attr('data-content',' ');
					cartHasChanged=true;
					$('#orderInfo').modal('show');
				}
				else
				{	/*the user is not logged in, show login modal*/
					$('#LoginModal').find("#invalidLoginAlert").html("You must login first to place an order").css('display','block');
					$('#LoginModal').modal('show');
				}
			});
			
		
			
		} 
		
	});
	/*continue shopping button in order info mondal hides the modal*/
	$("#continueShopping").on('click',function(){
		$('#orderInfo').modal('hide');
		$('.shopping-cart').click();
		
	});
	/* when reset password button is clicked the email introduced as input is verified; if the email is valid the form is submitted, otherwise an error message will apear*/
	$("#resetData").on('click',function(){
		var email=$('#inputEmail').val();
		$.post("/emailVerification",{email:email},function(response){
				if(response.emailStatus=="invalid")
				{
					/*set error message*/
					$('#invalidEmail').html("Invalid email").css("display","block");
					/*display modal*/
					$('#ForgotPasswordModal').modal('show');
				}
				else
				{
					if(response.emailStatus=="valid")
					{
						/*submit form*/
						$("#sendEmailresetPassword").submit();
					}
				}
		});
	});
	$('#cardPay').on('click',function(){
		$("#cardPaymentModal").modal('show');
	});
	
});
	
</script>