<!--Information about order Modal-->
<div class="modal fade" id="orderInfo" style="display: none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Thank you!</p>
		<p>Your order is now being processed, you will receive an email with more details</p>
		<p>If you want to pay online please fill in payment form below!</p>
		<a id="cardPay">Card Payment</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info bt" id="continueShopping">Continue shopping</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--Order Info Modal end-->
<!--Log In Modal-->
<div class="modal fade" id="LoginModal" style="display: none">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">x</span><span class="sr-only">Close</span>
			</button>
			<h4 class="modal-title">Log In</h4>
			<div class="alert alert-warning" role="alert" id="invalidLoginAlert" style="display:none">
			</div>
		</div>
		<div class="modal-body">
			<form action="/loginVerification" method="post">
				<div class="form-group">
					<label for="inputEmailLogin">Email</label>
					<input type="email" class="form-control" id="inputEmailLogin" placeholder="Email" name="email">
				</div>
				<div class="form-group">
					<label for="inputPasswordLogin">Password</label>
					<input type="password" class="form-control" id="inputPasswordLogin" placeholder="Password" name="password">
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label>
							<input type="checkbox"> Remember me
						</label>
					</div>
				</div>
				<div class="form-group" style="float:left">
					<div class="col-sm-offset-2 col-sm-10">
					  <button type="submit" class="btn btn-info">Log In</button>
					</div>
				</div>
				<div class="form-group" style="margin:10px; margin-left:100px">
					<a id="resetPassword" > Forgot your password?</a>
				</div
				<div style="clear: both"></div>
			</form>
		</div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal  --> 
<!--Log In Modal end-->
<!--Sign Up Modal-->
<div class="modal fade" id="SignInModal" style="display: none">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">x</span><span class="sr-only">Close</span>
			</button>
			<div id="modalInfo">
				<h4 class="modal-title">Create an account</h4>
				<div class="alert alert-warning" role="alert" id="alert" style="display:none">
				</div>
			</div>
		</div>
		<div class="modal-body">
			<form action="/signup" method="post">
				<div class="form-group">
					<label for="inputFirstName">First Name</label>
					  <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" name="firstname">
				  </div>
				  <div class="form-group">
					<label for="inputLastName">Last Name</label>
					  <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" name="lastname">
				  </div>
				  <div class="form-group">
					<label for="inputEmailSignup">Email</label>
					  <input type="email" class="form-control" id="inputEmailSignup" placeholder="Email" name="email">
				  </div>
				  <div class="form-group">
					<label for="inputPasswordSignup">Password</label>
					  <input type="password" class="form-control" id="inputPasswordSignup" placeholder="Password" name="password">
				  </div>
				  <div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
					  <button type="submit" class="btn btn-info">Sign Up</button>
					</div>
				  </div>
			</form>
		</div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal  --> 
<!--Sign Up Modal end-->
<!--Log Out Modal-->
<div class="modal fade" id="LogOutModal" style="display: none">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">x</span><span class="sr-only">Close</span>
			</button>
			<h4 class="modal-title">Log out</h4>
		</div>
		<div class="modal-body">
			<p>You are now logged out.</p>
			<p>Thank you for shopping here!</p>
		</div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal  --> 
<!--Log Out Modal end-->
<!--Forgot Password Modal-->
<div class="modal fade" id="ForgotPasswordModal" style="display: none">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">x</span><span class="sr-only">Close</span>
			</button>
			<h4 class="modal-title">Reset Password</h4>
			<div class="alert alert-warning" role="alert" id="invalidEmail" style="display:none">
			</div>
		</div>
		<div class="modal-body">
			<div>
				An email with a new password will be sent to you!
			</div>
			<form action="/resetPassword" method="post" id="sendEmailresetPassword">
				<div class="form-group">
					<label for="inputEmail">Email</label>
					<input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email">
				</div>
				<div class="form-group" style="float:left">
					<div class="col-sm-offset-2 col-sm-10">
					  <button id="resetData" class="btn btn-info">Reset Password</button>
					</div>
				</div>
			</form>
		</div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal  --> 
<!--Forgot Password Modal end-->
<div class="modal fade" id="orderHistoryModal" style="display: none">
  <div class="modal-dialog">
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">x</span><span class="sr-only">Close</span>
			</button>
			<h4>Order history</h4>
		</div>
		<div class="modal-body" id="historyBody">
			
		</div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--card payment modal -->
<div class="modal fade" id="cardPaymentModal" style="display: none">
  <div class="modal-dialog">
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">x</span><span class="sr-only">Close</span>
			</button>
			<h4>Payment</h4>
		</div>
		<div class="modal-body">
			<form id="CardPaymentForm" action="/cardPayment" method="post">
				<div>
					<label>
						<span>Card type</span>
					</label>
					<input type="radio" name="cardType" value="visa"/> Visa
					<input type="radio" name="cardType" value="mastercard"/> MasterCard 
				</div>
				<br/>
				<div>
					<label>
						<span>Card Number</span>
					</label>
					<!--all Visa card numbers begin with 4 and have 16 digits-->
					<!--all MasterCard card numbers begin with 5 followed by a digit between 1 and 5 and then other 14 digits-->
					<input id="ccNo" type="text" pattern="(4[0-9]{3}(-[0-9]{4}){3})|(5[1-5][0-9]{2}(-[0-9]{4}){3})" value="" autocomplete="off" required title="This is not a valid MasterCard/Visa card number"/>
				</div>
				<div>
					<label>
						<span>Expiration Date (MM/YYYY)</span>
					</label>
					<input type="month" id="expDate" required title="This is not a valid date" />
				</div>
				<div>
					<label>
						<span>Card Verification Code</span>
					</label>
					<input id="cvv" pattern="\d{3}" type="text" value="" autocomplete="off" required title="This field must contain 3 digits"/>
				</div>
				<input type="submit" value="Submit Payment">
		</form>	
	</div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
