<script>
	/* more info is clicked*/
	function showDetails(details)
	{
		$("#basicInfo").remove();
		$("#productInfo").html(decodeURIComponent(details));
	}
	/*when the image is clicked it appears in a modal window*/
	$('.resize').on('click',function(){
		$this=$(this);
		$("#myModal").find('.modal-title').html($('#productName').html());
		$("#myModal").find('.productImage').attr('src',$this.attr('src'));
		$('#myModal').modal('show');
		
	});
	/*addToWishlist*/
	$("#addToWishlist").on("click", function(){
		var product=$('#productName').html();
		var prodPrice=$("#priceContainer").html();
		var currency=$('#currencySelector').val();
		if(currency!='USD')
		{
			$.get("/convert",{from:currency,to:'USD',price:prodPrice},function(response){
				prodPrice=response.newPrice.toFixed(2);
				$.get("/addToWishlist",{product:product,price:prodPrice},function(res){
					//console.log(res.result);
				});
	
			});
		}
		else{
				$.get("/addToWishlist",{product:product,price:prodPrice},function(res){
					//console.log(res.result);
				});	
		}
		/*when a product is added to wishlist a notification message fadeIn*/
		$("#addedProductToWishlist").fadeIn(1000,function(){
			$("#addedProductToWishlist").fadeOut(1000);
		});
	});
</script>
<script>
	function sanitizeId(value){
		return value.replace(/\W+/g, "_");
	}
/*when buy now button is clicked the product is added to localStorage and the number of items of that product is increased*/
	$("#addToCart").on('click', function(){
		cartHasChanged=true;
		var prodName=$('#productName').html();
		var prodPrice=$("#priceContainer").html();
		var currency=$('#currencySelector').val();
		if(currency!='USD')
		{
			$.get("/convert",{from:currency,to:'USD',price:prodPrice},function(response){
				prodPrice=response.newPrice.toFixed(2);
				var cartStr=localStorage["cart"];
				var cart={};
				if(cartStr)
				{
					cart=JSON.parse(cartStr);
				}
				if(cart[prodName]==null)
				{
					cart[prodName]={price:prodPrice, quantity:1};
				}
				else
				{
					cart[prodName]["quantity"]+=1;
				}
				$('#'+sanitizeId(prodName)).find('.quantity').html(cart[prodName]["quantity"]);

				localStorage["cart"]=JSON.stringify(cart);
			});
		}
		else
		{
			var cartStr=localStorage["cart"];
			var cart={};
			if(cartStr)
			{
				cart=JSON.parse(cartStr);
				if(cart[prodName]==null)
				{
					cart[prodName]={price:prodPrice, quantity:1};
				}
				else
					cart[prodName]["quantity"]+=1;
				$('#'+sanitizeId(prodName)).find('.quantity').html(cart[prodName]["quantity"]);

				localStorage["cart"]=JSON.stringify(cart);
			}
			
		}
		/*when a product is added to cart a notification message fadeIn*/
		$("#addedProductToCart").fadeIn(1000,function(){
			$("#addedProductToCart").fadeOut(1000);
		});
	});
</script>