<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<% include partials/cssdefaults.ejs%>
</head>
<body  style="background:rgb(30, 157, 186)">
	<!--header which contains the navigation bar-->
	<% include partials/header.ejs %>
	<div class="container content" id="container">
		<!--breadcrumb path based-->
		<ol class="breadcrumb br">
			<li>
				<a href="/<%=ProjectTitle%>">Home</a>
				<span class="divider">></span>
			</li>
			<li class="active">
				<%=reduce_capitalize(currentCategory)%>
			</li>
		</ol>
		<div style="padding: 10px">
			<% _.each(items, function(topC) { %>
				<h1><%= topC.name %></h1> <!--will contain the main category-->
				<p><%= topC.page_description %></p> <!--page description for current category-->
				<div>
				<ol>
					<!--for each subcategory of the current category 
					will display category name, description and an image
					and a button which gives the ability to go to the products in that category-->
					<% _.each(topC.categories, function(subC) { %>
						<li>
							<h2><%= subC.name %></h2>
							<p><%= subC.page_description %></p>
							<% if (subC.image) { %>
								<div>
									<img src="/images/<%= subC.image %>">
								</div>
							<% } %>
							<br>
							<button type="button" class="btn btn-info bt"  onclick="window.location='/<%=ProjectTitle%>/<%=currentCategory%>/<%=subC.id%>'">View products</button>
						</li>
					<% }); %>                    
				</ol>
				</div>    
			<% }); %>
		</div>
	</div>
	<!--footer-->
 	<% include partials/footer.ejs%>
	<% include partials/modals.ejs%>
	<!--jquery and javascript files-->
	<% include partials/jsdefaults.ejs%>

</body>
</html>

   