<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
</head>
<body>
	<div class="alert alert-warning" role="alert"><%=error_message%></div>
	<footer>
		<hr/>
		<p style="text-align: right">Copyright 2013 OSF Global Services</p>
	</footer>
</body>
</html>

   