<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<% include partials/cssdefaults.ejs%>
</head>
<body  style="background:rgb(30, 157, 186)">
	<!--header which contains the navigation bar-->
	<% include partials/header.ejs %>
	<div class="container content" id="container">
	<!--breadcrumb path based-->
		<ol class="breadcrumb br">
			<li class="active"><%=currentCategory%></li>
		</ol>
		<div style="padding:10px">
			<h1><%= title %></h1>
			<ol>
				<% _.each(items, function(topC) { %>
					<li>
						<h1><%= topC.name %></h1>
						<p><%= topC.page_description %></p>
						<% if (topC.image) { %>
						<div>
							<img src="/images/<%= topC.image %>">
						</div>
						<% } %>
						<br>
						<button type="button" class="btn btn-danger"  onclick="window.location='/<%=ProjectTitle%>/<%=topC.id%>'">Go >></button>
					</li>
				<% }); %>
			</ol>
		</div>
	</div>
	<!--footer-->
 	<% include partials/footer.ejs%>
	<% include partials/modals.ejs%>
	<!--jquery and javascript files-->
	<% include partials/jsdefaults.ejs%>
	<script>
	if(window.location.hash=="#invalidlogin")
	{
	/*if window.locatiom.hash is "#invalidlogin" that means that the user inserted invalid data into the log, the login modal appears with a message and link to create account */
		$("#LoginModal").find("#invalidLoginAlert").html("Invalid Email and/or Password. If you don't have an account, create one ").append('<a>here</a>').css('display','block');
		$("#LoginModal").find("#invalidLoginAlert").find('a').on('click',function(){
			$("#LoginModal").modal('hide');
			$("#SignInModal").find("#alert").html("It seems that you don't have an account. Create one now!").css("display","block");
			$("#SignInModal").modal('show');

		});
		$("#LoginModal").modal('show');
	}
	</script>

</body>
</html>

   