<!DOCTYPE html>
<html>
<head>
	<title><%=currentSubsubcategory%></title>
	<% include partials/cssdefaults.ejs%>
</head>
<body  style="background:rgb(30, 157, 186)">
	<!--header which contains the navigation bar-->
	<% include partials/header.ejs %>
	<div id="container" class="container content">
		<!--breadcrumb path based-->
		<div id="breadcrumb" >
			<ol class="breadcrumb br">
				<li><a href="/<%=ProjectTitle%>">Home</a><span class="divider">></span> </li>
				<li><a href="/<%=ProjectTitle%>/<%=currentCategory.toLowerCase()%>"><%=reduce_capitalize(currentCategory)%></a><span class="divider">></span> </li>
				<li><a href="/<%=ProjectTitle%>/<%=currentCategory.toLowerCase()%>/<%=currentSubcategory.toLowerCase()%>"><%=reduce_capitalize(currentSubcategory)%></a><span class="divider">></span> </li>
				<li class="active"><%=reduce_capitalize(currentSubsubcategory)%></li>
			</ol>
		</div>
		<!--page content-->
		<!--buttons for next and prev page-->
		<div id="PDPcontent">
			<ul class="pager">
				<%if(showPrev==true) {%>
					
					<li class="previous">
						<a id="prevUp" href="/<%=ProjectTitle%>/<%=currentCategory.toLowerCase()%>/<%=currentSubcategory.toLowerCase()%>/<%=currentSubsubcategory%>?from=<%=calculatePrev(start)%>&sort=<%=sortingCriteria%>">Prev </a>
					</li>
				<%}%>
				<%if(showNext==true) {%>
					<li class="next">
						<a id="nextUp" href="/<%=ProjectTitle%>/<%=currentCategory.toLowerCase()%>/<%=currentSubcategory.toLowerCase()%>/<%=currentSubsubcategory%>?from=<%=calculateNext(start)%>&sort=<%=sortingCriteria%>">Next</a>
					</li>
				<%}%>
			</ul>
			<div style="float:right;margin-right:100px;">
				<span>Sort by</span>
				<select class="form-control" id="sorting" style="width: 140px;">
					<option value="ascending">Price ascending</option>
					<option value="descending">Price descending</option>
				</select>
			</div>
			<div style="clear:both"></div>
			<!--image and short description of each product-->
			<div class="row"  style="margin: 20px;width:900px;" id="products">
				<% _.each(items, function(product) { %>
					<div  style="float:left; margin-left: 16px; margin-bottom: 5px; width:425px;" class="hoverBorder" >
						<div class="thumbnail" style="width:403px;padding:0 9px; height: 260px; border:none">
							<h3><%=product.name%></h3>
							<div style="float:left;width:100px;">
								<% _.find(product.image_groups, function(image_groups) { %>
										<% if (image_groups.view_type=="small") { %>
											<img src="/images/<%=image_groups.images[0].link%>"
											alt="<%=image_groups.images[0].alt%>" >
											<% return image_groups; %>
										<% } %>                  
								<% }); %>  
							</div>						
							<div>
								<div style="margin-left: 25px ">
									<%-product.short_description.substr(0,140)+ " ..."%>
									<br>
								</div>
								<div style="margin-left: 25px">
									<div style="display: inline-block">Price:
										<% if(product.currency=="USD") { %>
											$
										<% } %>
										<%=product.price%>
									</div>
									<a href="/<%=ProjectTitle%>/<%=currentCategory.toLowerCase()%>/<%=currentSubcategory%>/<%=currentSubsubcategory%>/<%=product.id%>" class="btn btn-info bt" role="button" style="margin-left: 20px">
									More info
									</a>
								</div>
							</div>
							<div style="clear:both"></div>
						</div>
					</div>
				<% }); %>  
				<div style="clear:both"></div>
			</div>
			<ul class="pager">
				<%if(showPrev==true) {%>
					
					<li class="previous">
						<a id="prevBottom" href="/<%=ProjectTitle%>/<%=currentCategory.toLowerCase()%>/<%=currentSubcategory.toLowerCase()%>/<%=currentSubsubcategory%>?from=<%=calculatePrev(start)%>&sort=<%=sortingCriteria%>">Prev </a>
					</li>
				<%}%>
				<%if(showNext==true) {%>
					<li class="next">
						<a id="nextBottom" href="/<%=ProjectTitle%>/<%=currentCategory.toLowerCase()%>/<%=currentSubcategory.toLowerCase()%>/<%=currentSubsubcategory%>?from=<%=calculateNext(start)%>&sort=<%=sortingCriteria%>">Next</a>
					</li>
				<%}%>
			</ul>
		</div><!--pdp content-->
	</div>
	<!--footer-->
 	<% include partials/footer.ejs%>
	<% include partials/modals.ejs%>
	<!--jquery and javascript files-->
	<% include partials/jsdefaults.ejs%>
	<script>
		$(function(){
			/*at page load change selected option for sorting with the sorting criteria from the page url*/
			var selectedOption=window.location.toString().split(/sort=/g)[1];
			$('#sorting').val(selectedOption);
		});
		/*function used to update prev and next page buttons according to selected sorting criteria*/
		function changePageButtonHref(id,criteria)
		{
			var oldHref=$(id).attr('href');
			if(typeof(oldHref)!="undefined"){
				var newHref=oldHref.split(/sort=/g)[0]+"sort="+criteria;
				$(id).attr('href',newHref);
			}
		};
		/*when user changes the sorting criteria a request is send to a route to sort the products,and as response the whole html page is sent; when the response is received the container with products will be replaced with the new container with the products sorted ,so the page will not be refreshed*/
		$('#sorting').on('change',function() {
		/* get selected option (sorting criteria)*/
			var criteria=$(this).val();
		/*build url for request using criteria*/
			var url=window.location.toString().split(/sort=/g)[0];
			url=url+"sort="+criteria;
		/*send request */
			$.get(url,function(response){
			/*parse response as html; response is the html page with products sorted*/
				var doc=jQuery.parseHTML(response,true);
				/*when the response is received the div containing products is updated */
				var newProducts=$(doc).find("#products");
				$("#products").replaceWith(newProducts);
				/*change previous and next buttons to maintain the sorting criteria*/
				changePageButtonHref("#nextUp",criteria);
				changePageButtonHref("#prevUp",criteria);
				changePageButtonHref("#nextBottom",criteria);
				changePageButtonHref("#prevBottom",criteria);

			});
		});
	</script>
</body>
</html>