<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<% include partials/cssdefaults.ejs%>
</head>
<body  style="background:rgb(30, 157, 186)">
	<!--facebook plugin for like&share, fb comments-->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<!--header which contains the navigation bar-->
	<% include partials/header.ejs %>
	<div id="container" class="container content">
		<!--breadcrumb path based-->
		<ol class="breadcrumb br">
				<li>
					<a href="/<%=ProjectTitle%>">Home</a>
					<span class="divider">></span>
				</li>
				<li>
					<a href="/<%=ProjectTitle%>/<%=currentCategory.toLowerCase()%>"><%=reduce_capitalize(currentCategory)%></a>
					<span class="divider">></span>
				</li>
				<li>
					<a href="/<%=ProjectTitle%>/<%=currentCategory.toLowerCase()%>/<%=currentSubcategory.toLowerCase()%>"><%=reduce_capitalize(currentSubcategory)%></a>
					<span class="divider">></span>
				</li>
			
				<% _.find(items, function(product) { %>
				<li>
					<a href="/<%=ProjectTitle%>/<%=currentCategory.toLowerCase()%>/<%=currentSubcategory.toLowerCase()%>/<%=currentSubsubcategory%>?from=0&sort=ascending"><%=reduce_capitalize(currentSubsubcategory)%></a>
					<span class="divider">></span>
				</li>
				<li class="active"><%=product.name%></li>
		</ol>
		<div style="padding:10px">
		<!-- if the product is added to cart an info message will appear-->
			<div id="addedProductToCart" style="float:right; display:none">
				<p class="bg-info">Product <%=product.name%> was added to the cart</p>
			</div>
			<div id="addedProductToWishlist" style="float:right; display:none">
				<p class="bg-info">Product <%=product.name%> was added to wishlist.</p>
			</div>
			<h1 id="productName"><%=product.name%></h1>
			<% _.find(product.image_groups, function(image_groups) { %>
					<% if (image_groups.view_type=="medium") { %> <!--display image with medium size-->
						<div style="width:300px;float:left">
						<%_.each(image_groups.images,function(imgs){ %>
							<img src="/images/<%=imgs.link%>"
							alt="<%=imgs.alt%>" class="resize">
							<%});%>
						</div>
						<% return image_groups; %>
					<% } %>                  
			<% }); %>
			<div>
				<div id="productInfo">
					<p id="basicInfo">
						<%if(showMoreInfo==true){%>
						<%-basic_info%>
						<button type="button" class="btn btn-info" id="moreinfo" onclick="showDetails('<%-encodeURIComponent(complete_description)%>')">More Info</button>
						<%}else{%>
							<%=product.page_description%>
							<!-- in the database sometime short description is the same with long description there is no reason to display the same description twice that is why we display both description only when they are different-->
							<%if(product.page_description!=product.long_description) { %>
								<%-product.long_description%>
							<% } %>
						<%}%>
					</p>
				</div>
				<div style="margin-left: 300px">
					<button type="button" class="btn btn-danger" id="addToCart">Buy now</button>
					<%if(isLogged){%>
					<button type="button" class="btn btn-danger" id="addToWishlist">Add to wishlist</button>
					<%}%>
					<span style="margin-left:200px">Price:</span><span id="priceContainer"><%=product.price%></span>
					<span>
						<select class="form-control" id="currencySelector">
							<option value="USD">USD</option>
							<option value="EUR">EUR</option>
							<option value="RON">RON</option>
						</select>
					</span>
				</div>
			</div>
			<div style="clear:both"></div>
			<div id="facebookplugins" style="margin-left:300px; margin-bottom:30px">
				<div id="like_share" style="margin-bottom: 20px;">
					<div class="fb-like" data-href="http://nodejs-clothingnew.rhcloud.com/Shop/<%=currentCategory.toLowerCase()%>/<%=currentSubcategory.toLowerCase()%>/<%=currentSubsubcategory%>/<%=product.id%>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
				</div>
				<div id="fbcomments">
					<div class="fb-comments" data-colorscheme="light" data-href="http://nodejs-clothingnew.rhcloud.com/Shop/<%=currentCategory.toLowerCase()%>/<%=currentSubcategory.toLowerCase()%>/<%=currentSubsubcategory%>/<%=product.id%>" data-numposts="5" data-colorscheme="light"></div>
				</div>
			</div>
			
			<% }); %>
		</div>
		<div class="modal fade" id="myModal" style="display: none">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Product name</h4>
			  </div>
			  <div class="modal-body">
					<img class="productImage" src="/images/shopping-cart.png">
			  </div>
			</div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal  --> 
	</div>
	<!--footer-->
 	<% include partials/footer.ejs%>
	<% include partials/modals.ejs%>
	<!--jquery and javascript files-->
	<% include partials/jsdefaults.ejs%>
	<% include partials/PDPjsdefaults.ejs%>
	<script src="/jquery/convert.js"></script>
</body>
</html>

   