<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<% include partials/cssdefaults.ejs%>
</head>
<body style="background:rgb(30, 157, 186)">
	<!--header which contains the navigation bar-->
	<% include partials/header.ejs %>
	<div class="container content" id="container">
		<!--breadcrumb path based-->
		<ol class="breadcrumb br">
			<li>
				<a href="/<%=ProjectTitle%>">Home</a>
				<span class="divider">></span>
			</li>
			<li>
				<a href="/<%=ProjectTitle%>/<%=currentCategory.toLowerCase()%>"><%=reduce_capitalize(currentCategory)%></a>
				<span class="divider">></span>
			</li>
			<li class="active">
				<%=reduce_capitalize(currentSubcategory)%>
			</li>
		</ol>
		<div style="padding:10px">
		<h1>
			<%=reduce_capitalize(currentSubcategory)%>
		</h1>
		<% _.each(items, function(topC) { %>
			<ol>
				<!--for each subcategory of the current category 
				will display category name, description and an image
				and a button which gives the ability to go to the products in that category-->
				<% _.each(topC.categories, function(subC) { %>
					<ol>
					<% _.each(subC.categories, function(subsubC) { %>
						<li>
							<h2><%= subsubC.name %></h2>
							<p><%= subsubC.page_description %></p>
							<% if (subsubC.image) { %>
								<div>
									<img src="/images/<%= subsubC.image %>" style="border:1px solid rgb(137, 129, 129)">
								</div>
							<% } %>
							<br>
							<button type="button" class="btn  btn-info bt" onclick="window.location='/<%=ProjectTitle%>/<%=currentCategory.toLowerCase()%>/<%=currentSubcategory%>/<%=subsubC.id%>?from=0&sort=ascending'">
							View products</button>
						</li>
					<% }); %>                    
			</ol>
					</li>
				<% }); %>                    
			</ol>  
		<% }); %>
		</div>
	</div>
		<!--footer-->
 	<% include partials/footer.ejs%>
	<% include partials/modals.ejs%>
	<!--jquery and javascript files-->
	<% include partials/jsdefaults.ejs%>
</body>
</html>

   