/*styles used in all templates */
body {
  padding:50px;
  font:14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: rgb(30, 157, 186);*/
  background-color: rgba(30, 157, 186, 0.28);
}
.content{
	border:1px solid rgb(69, 123, 135);
	background:rgba(119, 174, 203, 0.57);
	box-shadow:4px 3px 9px;
}
/* breadcrumb */
ol.breadcrumb.br{
	background:rgb(7, 59, 86);
	border-radius:0px;
	border-bottom:2px solid rgb(153, 202,201);
}
.breadcrumb > li {
	text-shadow:none;
}
.breadcrumb > li > .divider {
	color: #807DEA;
}
/*navigation bar*/
a{
	text-shadow:none;
}
.navbar-inner{
	background-image: linear-gradient(to bottom, rgb(7, 59, 86), rgb(47, 112, 146));
	border:none;
	box-shadow: 2px 2px 7px #1A5384;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	color: #151F4E;
	text-decoration: none;
	background-color: rgb(30, 157, 186);
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.navbar .nav > li > a {
	float: none;
	padding: 10px 15px 10px;
	color: #8EA7D7;
	text-decoration: none;
	text-shadow:none;
	height: 20px;
}	
.navbar .nav > li > a:hover{
	box-shadow: 2px 2px 7px #1A5384;
	border-radius: 3px;
	background: rgb(30, 157, 186);
}
/*buttons used in categories.ejs, subcateg.ejs, product_in_categ.ejs*/
.btn-info {
	color: #343240;
}
.bt{
	-moz-box-shadow: 1px 1px 3px #000000;;
	-webkit-box-shadow: 1px 1px 3px #000000;
	box-shadow: 1px 1px 3px #000000;
}
/*footer*/
hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px solid rgb(7, 59, 86);
	border-bottom: 1px solid rgb(47, 112, 146);
}
/*popover*/
.popover
{
	width: 700px;
	background-color:#97BDDE;
}
.popover-content p, .popover-content ul{
	margin:0;
	padding:0;
}
.popover-content ul li{
	border-bottom: 1px solid rgb(131, 152, 174);
	padding-bottom: 1px;
	padding-top: 1px;
}
/*shopping-cart*/
span#nrProds.badge.pull-right{
	margin-top: 2px;
	position: relative;
	left: -4px;
}
a.shopping-cart{
	padding: 10px 2px 10px 6px;
}
.quantity {
	display: inline-block;
	background: rgb(108, 125, 164);
	color: white;
	min-width: 15px;
	padding: 0 3px;
	text-align: center;
	margin-right: 8px;
	border: 1px solid rgb(97, 161, 208);
}
 .price{
	margin-left:5px;
	display: inline-block;
	color: white;
	min-width: 15px;
	padding: 0 3px;
	text-align: center;
 }
 #placeOrder{
	margin-left: 70px;
 }
 .remove{
	margin: 5px;
 }
 #shipping{
	margin-top: 10px; 
 }
 #totalVal {
	display: inline-block;
	background: #bd362f;
	color: white;
	padding: 0 3px;
	text-align: center;
	margin-left: 80px;
	border: 1px solid rgb(97, 161, 208);
 }
 /*wishlist*/
 #addWishToCart{
	display: inline-block;
	background: rgb(108, 125, 164);
	color: white;
	min-width: 15px;
	padding: 0 3px;
	text-align: center;
	margin-right: 8px;
	border: 1px solid rgb(97, 161, 208);
 }
 
/*product_in_categ.ejs*/
/*div that contains information( name, image, short description) about each product*/
.hoverBorder:hover{
	box-shadow: 1px 1px 7px #1A5384;
}
.pager li > a, .pager li > span {
	display: inline-block;
	padding: 5px 14px;
	background-color: #2D95B4;
	box-shadow: 1px 1px 7px #1A5384;
	border:none;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 9px;
	color:rgb(7, 59, 86);
}
.pager .next > a, .pager .next > span {
	float: right;
	margin-right: 40px;
}
.pager .previous > a, .pager .previous > span {
	float: left;
	margin-left: 40px;
}
/* PDP */
#addedProductToCart, #addedProductToWishlist{
	background-color:#97BDDE;
	padding: 4px;
	color: rgb(7, 59, 86);
	border-radius: 4px;
	box-shadow: 1px 1px 7px #1A5384;
}

/* styles the dropdown button for currency select in product.ejs*/
select {
	width: 70px;
	background-color: #97BDDE;
	border: 1px solid #714646;
}
/*order history modal*/
.panel-heading{
	background-color:rgb(30, 157, 186);
	padding: 8px;
}
.modal-header{
	background-color:rgba(30, 157, 186, 0.28);
}
.table th, .table td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid rgba(30, 157, 186, 0.28);
}
/*fb plugins*/
#fbcomments{
	background-color:rgb(169, 213, 234);
}